<!DOCTYPE html>
<html lang="en">

<div class="container" id="professorHome">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../student/studentHome.html">Studying system</a>
            </div>
            <ul class="nav navbar-nav" id="navigationBar">
                <li class="active"><a href="../student/studentNotifications.html">Notifications <span class="badge">2</span></a></li>
                <li><a onclick="loadContent('profEnterMarks')">Enter marks</a></li>
                <li><a onclick="loadContent('professorMarks')">Marks</a></li>
                <li><a onclick="loadContent('profStatistics')">Statistics</a></li>
                <li><a onclick="loadContent('professorSearch')">Search</a></li>
                <li><a href="../login.html">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>