<!DOCTYPE html>
<html lang="en">
<body>

<div class="container" id="professorNotifications">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr class="info">
            <td>Teet Puu <span class="badge">1</span></td>
            <td>teet.puu@example.com</td>
        </tr>
        <tr class="success">
            <td>Teet Tee</td>
            <td>teet.tee@example.com</td>
        </tr>
        <tr class="info">
            <td>Teet Teepuu <span class="badge">1</span></td>
            <td>teet.teepuu@example.com</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>