<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="studentHome.html">Studying system</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="studentNotifications.html">Notifications <span class="badge">2</span></a></li>
                    <li><a href="studentMarks.html">Study results</a></li>
                    <li><a href="studentWorkSubmission.html">Work submissions</a></li>
                    <li><a href="studentGroups.html">Groups of students</a></li>
                    <li><a href="studentSearch.html">Search</a></li>
                    <li><a href="../login.html">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</html>